---
import MainLayout from '../layouts/MainLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../sections/HeroSection.astro';
import TechnologiesSection from '../sections/TechnologiesSection.astro';
import ArchitectureSection from '../sections/ArchitectureSection.astro';
import PredictorSection from '../sections/PredictorSection.astro';
import AboutSection from '../sections/AboutSection.astro';
---

<MainLayout>
  <Header />
  <main>
    <HeroSection />
    <TechnologiesSection />
    <ArchitectureSection />
    <PredictorSection />
    <AboutSection />
  </main>
  <Footer />
</MainLayout>